[% USE POSIX -%]
log(100) = [% POSIX.log(100) %]
sprintf("%.0f", 7.8) = [% POSIX.sprintf("%.0f", 7.8) %]
pow(2, 3) = [% POSIX.pow(2, 3) %]
exp(1) = [% POSIX.exp(1) %]
ceil(3.3) = [% POSIX.ceil(3.3) %]
ceil(3.8) = [% POSIX.ceil(3.8) %]
floor(3.3) = [% POSIX.floor(3.3) %]
floor(3.8) = [% POSIX.floor(3.8) %]
