[% USE POSIX -%]
log(100) = [% POSIX.log(100) %]
sprintf("%.0f", 7.8) = [% POSIX.sprintf("%.0f", 7.8) %]
pow(2, 3) = [% POSIX.pow(2, 3) %]
exp(1) = [% POSIX.exp(1) %]
2**3 = [% POSIX.eval('2**3') %]
sin(3.14) = [% POSIX.sin(3.14) %]
cos(0) = [% POSIX.cos(0) %]
join(',', 'a', 'b', 'c') = [% POSIX.join(',', 'a', 'b', 'c') %]
